.hero{
    background-color: fuchsia;
    text-align: center;
    padding: 60px 20px;
}
.hero-title{
    color: aqua;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
.hero-subtitle{
    color: brown;
    font-size: 20px;
    margin-bottom: 20px;
}
.hero-btn{
    display:inline-block;
    background-color: rgb(196, 238, 255);
    color: rgb(223, 24, 24);
    padding: 15px;
}
