.hero{
    background-color: fuchsia;
    text-align: center;
    padding: 60px 20px;
}
.hero-title{
    color: aqua;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
.hero-subtitle{
    color: brown;
    font-size: 20px;
    margin-bottom: 20px;
}
.hero-btn{
    display:inline-block;
    background-color: rgb(196, 238, 255);
    color: rgb(223, 24, 24);
    padding: 15px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
}

/* color=1> soliid=dirct nm of clr
2>hex code = 6char= e.g> ff0000=red 
000000=blck, ffffff=white, 808080=grey
3> rgb=(red blue green)=> (100 0 0)=> cmplt red  => from 0 to 255
4> hsl(hue,saturation,light)=> (0, 100%,55%)
*/