/* element selector */
p{
    color: purple;
    font-size: 23px;
    font-family: fantasy;
}
/*  class selector */
.intro{
    color: brown;
    font: size 20px;
}

/* id selector */
#headline{
color:chartreuse;
background-color:antiquewhite ;
} 
